*DS_Store*
*.cache
*.log
*.o
*~
*.status
config.status
libtool
*.gz
*.dylib
*/build/*
*config.h
src/config.h
*.sqlext
*.a
*(Autosaved)*
*stamp-h*
*confdefs*
*conftest*
*.tmp
tcldo*/*
src/*/*/build/*
src/port/port
src/port/portindex
src/port/portmirror
src/port1.0/pkgIndex.tcl
src/package1.0/pkgIndex.tcl
