*DS_Store*
*.cache
*.log
*.o
*~
*.status
config.status
libtool
*.gz
*.dylib
*/build/*
*config.h
src/config.h
*.sqlext
*.a
*(Autosaved)*
*stamp-h*
*confdefs*
*conftest*
*.tmp
tcldo*/*
src/*/*/build/*
src/port/port
src/port/portindex
src/port/portmirror
src/*/pkgIndex.tcl
Mk/macports.autoconf.mk
doc/*.mtree
doc/macports.conf
doc/pubkeys.conf
*Makefile
*Doxyfile
src/*/*autoconf.tcl
setupenv.bash
src/macports1.0/macports_fastload.tcl
conf*/*.awk
