*(Autosaved)*
*.a
*.cache
*.dylib
*.gz
*.log
!remake_*.log
*.o
*.sqlext
*.status
*.tmp
*/build/*
*DS_Store*
*Doxyfile
*Doxyfile.bak
*Makefile
*confdefs*
*config.h
*conftest*
*stamp-h*
*~
Mk/macports.autoconf.mk
conf*/*.awk
config.status
doc/*.mtree
doc/macports.conf
doc/pubkeys.conf
libtool
portmgr/freebsd/Makefile
setupenv.bash
src/*/*/build/*
src/*/*autoconf.tcl
src/*/pkgIndex.tcl
src/config.h
src/macports1.0/macports_fastload.tcl
src/pkg_mkindex.sh
src/port/port
src/port/portindex
src/port/portmirror
src/programs/daemondo/Makefile
tcldo*/*
Makefile_orig
.env.local
